<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "English", locale: :en %>
  <%= link_to "Vietnamese", locale: :vi %>
  <div class="container">
    <%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("header.nav.home"), static_pages_home_path(locale: I18n.locale) %></li>
          <li><%= link_to t("header.nav.help"), static_pages_help_path(locale: I18n.locale) %></li>
          <li><%= link_to t("header.nav.log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
